<section class="form">
  <form method="post" action="https://queue.fightforthefuture.org/action" accept-charset="UTF-8">
    <main>
      <input type="text" name="member[first_name]" placeholder="Full Name" title="Full Name" autocomplete="name" required>
      <input type="email" name="member[email]" placeholder="Email" title="Email" required>
      <input type="text" name="member[postcode]" class="input-zip" placeholder="ZIP" title="ZIP" required size="5" pattern="[0-9]{5}">
    </main>

    <footer>
      <button type="submit" class="shadow">Join the Protest</button>
      <div class="disclaimer">
        <div class="org fp hidden">The information submitted here will be transmitted to the FCC, which may post your name and street address in a searchable database. <a href="https://www.freepress.net/" target="_blank">Free Press</a> will contact you about future campaigns. <a href="/privacy/" target="_blank">Privacy Policy</a></div>
        <div class="org dp hidden">The information submitted here will be transmitted to the FCC, which may post your name and street address in a searchable database. <a href="https://demandprogress.org/" target="_blank">Demand Progress</a> will contact you about future campaigns. <a href="/privacy/" target="_blank">Privacy Policy</a></div>
        <div class="org fftf">The information submitted here will be transmitted to the FCC, which may post your name and street address in a searchable database. <a href="https://www.fightforthefuture.org/" target="_blank">Fight for the Future</a> will contact you about future campaigns. <a href="/privacy/" target="_blank">Privacy Policy</a></div>
      </div>
    </footer>

    <!-- This field gets updated after geocoding IP address -->
    <input type="hidden" name="member[country]" value="US"/>

    <!-- Mothership Honeypot Bot Defense -->
    <input class="hidden" type="checkbox" checked="checked" name="hp_enabled" />
    <input class="hidden" type="checkbox" name="hp_disabled" />
    <input class="hidden" type="text" name="guard" />

    <!-- Mothership -->
    <input type="hidden" name="org" value="fftf"/>

    <!-- Action Network -->
    <input type="hidden" name="an_tags" value="[&quot;net-neutrality&quot;]"/>
    <input type="hidden" name="an_petition_id" value="2ddb0663-1282-4b17-bb13-ee89cb92efc1"/>
  </form>
</section>
